<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postnote - POST messages to all of your sites using REST and JSON.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../static/images/writing.svg"/>
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/gh-theme.css">
    <script src="../static/javascript/rainbow-custom.min.js"></script>
</head>
<body>

<!--- Header section -->

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Postnote</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>


<!--- Information section -->
<section id="information-section">
    <div class="container">
        <div class="row" id="opening">
            <div class="col-md-12" align="center">
                <img class = "img-responsive" src="../static/images/writing.svg" width="15%"/><br/>
                <h1>Hello, {{username}}</h1>
            </div>
        </div>
    </div>
</section>

<section id="footer-section">
    <div class="footer">
        <p>Created By: <a href="https://www.lukebrains.com/">Luke Brady</a></p>
        <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
</section>

</body>
</html>