<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Postnote - POST messages to all of your sites using REST and JSON.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/gh-theme.css">
    <script src="../static/javascript/rainbow-custom.min.js"></script>
</head>
<body>

<!--- Header section -->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Postnote</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>


<!--- Information section -->
<section id="information-section">
    <div class="container">
        <div class="row" id="opening">
            <div class="col-md-12" align="center">
                <img class = "img-responsive" src="../static/images/writing.svg" width="15%"/><br/>
                <h1>An API For Your Thoughts</h1>
                <p>Postnote is the simplest and most effective way to post content to all of your websites in parallel.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <div class="card card-2">
                    <p class = "info">Easily POST messages to Postnote using curl.</p>
                    <pre><code class="language-bash" data-language="shell">curl -XPOST https://postnote.io/user/post -H "Content-Type: text/json" -d '{"Title":"Hello", "Message": "Hello, World!"}'
                        </code></pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <div class="card card-2">
                    <p style="text-align: center" class = "info">Now render the posts on your site using AJAX.</p>
                    <pre style="text-align: left"><code class="language-javascript" data-language="javascript">
                    // Declare a function that will take your API key.
                    function getNotes() {
                        var xhttp = new XMLHttpRequest();
                        var noteTable = document.getElementById("note-table");
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                var jsonData = JSON.parse(this.responseText);
                                jsonData.forEach(function(obj) {
                                    // Render your notes to the site how you see fit!
                                }, this);
                            }
                        };
                        xhttp.open("GET", "https://postnote.io/user/notes", true);
                        xhttp.send();
                    }
                    // Now call getNotes function.
                    getNotes();
                        </code></pre>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer-section">
    <div class="footer">
        <p>Created By: <a href="https://www.lukebrains.com/">Luke Brady</a></p>
        <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
</section>

</body>
</html>