html body {
    background-color: #2A2A2A;

}

#header-container {
    width: 100%;
    min-height: 25%;
    background-color: #1A1A1A;
}

#header-text {
    color: white;
}

#information-section {
    padding-top: 50px;
    padding-bottom: 100px;
    color: white;
    background-color: #2A2A2A;
}

.info {
    color: dodgerblue;
}

#footer-section {
    background-color: #2A2A2A;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

#opening {
    padding-bottom: 50px;
}
.navbar {
    background: #2A2A2A;
    box-shadow: none;
    text-decoration: none;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 75%;
    padding: 1rem 1rem 1rem 1rem;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#signup-panel {
    width: 50%;
}

#login-panel {
    width: 50%;
}